
package introductionmyseft;
import java.util.Scanner;
public class IntroductionMyseftbai1 {
     public String Name;
     public String Aclass;
     public String StudentID;
     
     IntroductionMyseftbai1(){};
     IntroductionMyseftbai1(String name, String aclass, String studentID){
         this.Name = name;
         this.Aclass = aclass;
         this.StudentID = studentID;
     }
     public void Input(){
         Scanner sc =  new Scanner(System.in);
         System.out.print("Input name: ");
         this.Name = sc.nextLine();
         System.out.print("Input Class: ");
         this.Aclass = sc.nextLine();
         System.out.print("Input Student Id: ");
         this.StudentID = sc.nextLine();
     }
     public void Show(){
         System.out.println("Name is " + this.Name);
         System.out.println("Class is " + this.Aclass);
         System.out.println("Student Id is " + this.StudentID);
   
     }
    public static void main(String[] args) {
        IntroductionMyseftbai1 Intro = new IntroductionMyseftbai1();
        Intro.Input();
        Intro.Show();
    }
    
}
